body {
  background-color: yellow;
}

.navigation li{
  width: 200px;
  height: 50px;
  list-style: none;
  display: inline-block;
}

.navigation li:hover{
  opacity: 0.25;
}

.red-background {
  background-color: red;
  color: grey;
}
